* {
    margin         : 0;
    padding        : 0;
    list-style-type: none;
    font-family    : 'Noto Sans', sans-serif;

}

h1 {
    font-size  : 15px;
    font-weight: bold;
    color      : #fff;
    text-align : center;
}

h2 {
    font-size  : 11px;
    font-weight: bold;
    color      : #000;
}

h3 {
    font-size  : 20px;
    font-weight: bold;
    color      : #000;
}

.h4-white {
    font-size  : 10px;
    font-weight: normal;
    text-align : center;
    color      : #fff;
}

.h4-black {
    font-size  : 10px;
    font-weight: normal;
    text-align : center;
    color      : #000;
}

/* container */

body {
    width            : 100vw;
    height           : 100vh;
    background-image : url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/* header */
.header {
    width : 100vw;
    height: 4.6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-content {
    width           : 48vw;
    height          : 4.6vh;
    border-radius   : 0px 0px 10px 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-content h1{
    width: 23vw;
    height: 4.6vh;
    border-radius: 0 0 10px 10px;
    background-color: #ff9191;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-content div{
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-content h2{
    margin-left: 1.6vw;
}
/*main-content*/
.main-content{
    margin-top: 2.4vh;
    width: 100vw;
    height: 92.8vh;
}
.character-show{
    width: 100vw;
    height: 33.6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.character-show img{
    width: 42.9vw;
    height: 45.8vw;
}
.character-show .character-name{
    width: 100vw;
    height:4.3vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.character-show .character-name img{
    width: 29px;
    height: 17px;
}
.character-show .character-name h3{
    margin-left: 2vw;
}
.character-skill{
    width: 33.3vw;
    height: 2.6vh;
    border-radius: 5px;
    border: solid 1px #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 11px;
}
.character-skill .h4-white{
    border-radius: 3px 0 0 3px;
    background-color: #000;
    width: 10.6vw;
    height: 2.6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.character-skill .h4-black{
    width: 22.6vw;
}
.character-collects{
    margin-top: -14.2vh;
    width: 100vw;
    height: 73.6vh;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.character-collects img{
    width: 15.4vw;
    height: 15.4vw;
    margin: 1.2vw;
    cursor: pointer;
}
.character-collects .character-area{
    width: 72vw;
    overflow-y                : scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 22vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*footer*/
.footer{
    width: 100vw;
    height: 13.4vh;
    position: fixed;
    bottom: 0;
    box-shadow: 0 2px 16px 8px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer .page-switch{
    width: 100vw;
    height: 10.7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 10.1vw;
    height: 15.2vw;
    cursor: pointer;
    margin: 0 8.6vw 0 8.6vw;
}

